@font-face {
    font-family: 'Adlinnaka';
    src: url('Adlinnaka-BoldDemo.woff2') format('woff2'),
        url('Adlinnaka-BoldDemo.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

